body {
  text-align: center;
  background-color: rgb(48, 59, 114);
  color: white;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  /* height: 630px; */
}

.container {
  margin: 10px;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  margin: 50px;
}
.cell {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
.status {
  height: 40%;
}

.status p {
  padding: 0;
  margin: 0;
}

.btn {
  height: 10%;
  margin: 10px;
}

.btn button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 7px;
}
